body{ 
    margin:0; 
    padding: 0;
    background-color: hsl(185, 75%, 39%);
} 

.flex-container{ 
display: flex;
justify-content: center;
}

.body-card{
background-color: white;
border-radius: 15px;
height: 100%;
width: 100%;
max-width: 30em; 

}