body{ 
    margin:0; 
    padding: 0;
    background-color: hsl(185, 75%, 39%);
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
} 

.flex-container{ 
display: flex;
justify-content: center;
}

.body-card{
background-color: white;
border-radius: 15px;
height: 100%;
width: 100%;
max-width: 30em; 

} 

.svg-pattern-top-card{ 
     width: 100%;
}

.person-image{ 
    border-radius: 100%;
    
}