body{ 
    margin:0; 
    padding: 0;
    background-color: hsl(185, 75%, 39%);
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
} 

.flex-container{ 
display: flex;
justify-content: center;
}

.body-card{
background-color: white;
border-radius: 15px;
height: 100%;
width: 100%;
max-width: 30em; 
box-shadow: 0 14px 16px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
 

} 

.svg-pattern-top-card{ 
     width: 100%;
}

.person-image{ 
    border-radius: 100%;
    
} 

.svg-card-top{
    width: 30em;
     
}

.info-container{
    display: flex;
    justify-content: center; 
}

 
.title-name{
    font-family: 'Kumbh', sans-serif;
    font-weight: 700;  
    font-size: 1.5em;
    text-align: center;
} 

.title-age{ 
    font-family: 'Kumbh', sans-serif; 
    text-align: center;
    font-weight: 400;
    color:hsl(227, 10%, 46%);
    font-size: 1.3em;

} 

.title-location{
    font-family: 'Kumbh', sans-serif;  
    text-align: center;
    font-weight: 400;
    color:hsl(227, 10%, 46%);
    font-size: 1em;
} 

.social-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row ;
    flex-wrap: wrap;
  
} 

.social-container-top{
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 25px;
}

.heading-social{ 
    font-family: 'Kumbh', sans-serif;
    font-weight: 700;  
    font-size: 1.5em;  
} 

.social-container-bottom{ 
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.title-social-bottom{ 
    font-family: 'Kumbh', sans-serif;  
    color:hsl(227, 10%, 46%);
    font-size: 1em;
    font-weight: 400;
}
 

ul {
    list-style: none;
     text-align: center;
     margin:10px; 
     
}

ul li {
    display: inline;
}